@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using Microsoft.AspNetCore.Components.Authorization
@using Pusula.UI.Components.Charts

<PageTitle>Home</PageTitle>

<h3>Dashboard</h3>

<AuthorizeView Roles="Admin">
    <Authorized>
        <ul>
            <li><a href="/teachers">Manage Teachers</a></li>
            <li><a href="/students">Manage Students</a></li>
            <li><a href="/courses">Manage Courses</a></li>
            <li><a href="/grades">Review Grades</a></li>
            <li><a href="/absences">Review Absences</a></li>
            <li><a href="/register">Create User (Student/Teacher)</a></li>
        </ul>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
    <Authorizing>
    </Authorizing>
</AuthorizeView>

<AuthorizeView Roles="Teacher">
    <Authorized>
        <ul>
            <li><a href="/courses">My Courses</a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/grades">Grades</a></li>
            <li><a href="/absences">Absences</a></li>
        </ul>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Student">
    <Authorized>
        <div class="row">
            <div class="col-md-8">
                <GpaChart />
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5>Quick Actions</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="/courses" class="btn btn-outline-primary btn-sm w-100">View Courses</a></li>
                            <li class="mb-2"><a href="/grades" class="btn btn-outline-success btn-sm w-100">My Grades</a></li>
                            <li class="mb-2"><a href="/absences" class="btn btn-outline-warning btn-sm w-100">My Absences</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
